{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Merci de votre participation !
{% endblock %}

{% block content %}
    <div class="card p-5 shadow-sm text-center">
        <div class="mb-4">
            <span style="font-size: 50px;">🙏</span>
        </div>

        <h3>L'étude est terminée.</h3>

        <p class="mt-4 lead">
            Vos réponses ont été enregistrées avec succès.
            Nous vous remercions pour votre participation.
        </p>

        <p class="text-muted">
            Vous pouvez maintenant fermer cette fenêtre.
        </p>
    </div>
{% endblock %}